---
- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - software-properties-common
      - wget
      - curl
    state: present
    update_cache: yes

- name: Add Grafana GPG key
  apt_key:
    url: https://apt.grafana.com/gpg.key
    state: present

- name: Add Grafana repository
  apt_repository:
    repo: "deb https://apt.grafana.com stable main"
    state: present
    filename: grafana

- name: Install Grafana
  apt:
    name: grafana
    state: present
    update_cache: yes

- name: Create Grafana provisioning directories
  file:
    path: "{{ item }}"
    state: directory
    owner: grafana
    group: grafana
    mode: '0755'
  loop:
    - /etc/grafana/provisioning/datasources
    - /etc/grafana/provisioning/dashboards
    - /var/lib/grafana/dashboards

- name: Copy Grafana configuration
  template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
    owner: grafana
    group: grafana
    mode: '0644'
  notify: restart grafana

- name: Copy datasource provisioning
  template:
    src: datasources.yml.j2
    dest: /etc/grafana/provisioning/datasources/datasources.yml
    owner: grafana
    group: grafana
    mode: '0644'
  notify: restart grafana

- name: Copy dashboard provisioning
  template:
    src: dashboards.yml.j2
    dest: /etc/grafana/provisioning/dashboards/dashboards.yml
    owner: grafana
    group: grafana
    mode: '0644'
  notify: restart grafana

- name: Copy dashboard JSON files
  template:
    src: "{{ item }}"
    dest: "/var/lib/grafana/dashboards/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: grafana
    group: grafana
    mode: '0644'
  with_fileglob:
    - "../templates/dashboards/*.json.j2"
  notify: restart grafana

- name: Enable and start Grafana service
  systemd:
    name: grafana-server
    enabled: yes
    state: started
