---
- name: Create PostgreSQL users
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    priv: "{{ item.privileges | default('ALL') }}"
    state: present
  loop: "{{ postgresql_users }}"
  loop_control:
    label: "{{ item.name }}"
  when: postgresql_users is defined

- name: Create PostgreSQL databases
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner }}"
    encoding: "{{ item.encoding | default('UTF8') }}"
    state: present
  loop: "{{ postgresql_databases }}"
  loop_control:
    label: "{{ item.name }}"
  when: postgresql_databases is defined
