---
- name: Check if database cluster already exists
  stat:
    path: "{{ postgresql_data_directory }}/PG_VERSION"
  register: db_cluster_exists

- name: Initialize database cluster if not exists
  shell: |
    /usr/lib/postgresql/{{ postgresql_version }}/bin/initdb \
    -D "{{ postgresql_data_directory }}" \
    --encoding=UTF8 --locale=C
  args:
    creates: "{{ postgresql_data_directory }}/PG_VERSION"
  become: yes
  become_user: postgres
  when: not db_cluster_exists.stat.exists
