global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'lab6'
    replica: 'main'

alerting:
  alertmanagers:
{% if alertmanager_enabled %}
    - static_configs:
        - targets:
            - '{{ alertmanager_url.replace("http://", "") }}'
{% endif %}

rule_files:
  - "alert_rules.yml"

scrape_configs:
{% for config in prometheus_scrape_configs %}
  - job_name: '{{ config.job_name }}'
{% if config.metrics_path is defined %}
    metrics_path: '{{ config.metrics_path }}'
{% endif %}
{% if config.static_configs is defined %}
    static_configs:
{% for static_config in config.static_configs %}
      - targets:
{% for target in static_config.targets %}
          - '{{ target }}'
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
