---
- name: Install Java JDK 11
  apt:
    name: openjdk-11-jdk
    state: present

- name: Clone Spring Boot demo application
  git:
    repo: https://github.com/grafana/spring-boot-demo
    dest: /opt/spring-boot-demo
    version: main

- name: Build application with Gradle
  command:
    cmd: ./gradlew build -x test
    chdir: /opt/spring-boot-demo
  become: yes

- name: Create application service
  template:
    src: spring-app.service.j2
    dest: /etc/systemd/system/spring-app.service

- name: Start Spring application
  systemd:
    name: spring-app
    state: started
    enabled: yes
    daemon_reload: yes
