---
postgresql_databases:
  - name: app_db
    owner: app_user
    encoding: UTF8

postgresql_users:
  - name: app_user
    password: "app_password123"
    privileges: "ALL"

postgresql_replication: false
postgresql_role: master
postgresql_listen_addresses: ['localhost', '192.168.56.21']
