[Unit]
Description=Spring Boot Demo Application
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/opt/spring-boot-demo
ExecStart=/usr/bin/java -jar /opt/spring-boot-demo/build/libs/spring-boot-demo-0.0.1-SNAPSHOT.jar
Restart=on-failure
Environment=JAVA_OPTS=-Dmanagement.endpoints.web.exposure.include=*

[Install]
WantedBy=multi-user.target
