---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: postgresql-test
    image: ubuntu:20.04
    privileged: true
    command: sleep infinity
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    capabilities:
      - SYS_ADMIN

provisioner:
  name: ansible
  config_options:
    defaults:
      host_key_checking: false
      remote_user: root
  playbooks:
    converge: converge.yml

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - cleanup
    - destroy
    - create
    - prepare
    - converge
    - verify
    - destroy
