# Vagrant
.vagrant/
*.log

# VirtualBox
*.vbox
*.vbox-prev

# Ansible
*.retry

# Molecule
.molecule/
.molecule.yml
*.pyc
__pycache__/

# Environnements virtuels Python
molecule-env/
venv/
env/

# Clés SSH privées
*private_key
*key

# Fichiers temporaires
*.tmp
*.temp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
