apiVersion: 1

datasources:
  - name: {{ prometheus_datasource_name }}
    type: prometheus
    access: proxy
    url: {{ prometheus_url }}
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"

  - name: {{ loki_datasource_name }}
    type: loki
    access: proxy
    url: {{ loki_url }}
    editable: true
    jsonData:
      maxLines: 1000
